<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sunrise.ng/wp-content/uploads/2021/02/Book-Giving-Day.jpg)">
  My Rents
</div>
<div class="container">
      <div class="row justify-content-around">
          <% if @rents.count.zero? %>
            <h3>Nenhum livro alugado</h3>
          <% end %>

      <% @rents.each do |rent| %>

      <div class="card-product mt-3 col-5">
            <% if rent.book.image.nil? %>
              <%= image_tag 'https://cdn-icons-png.flaticon.com/512/2232/2232688.png', width: "300px" %>
            <% else  %>
            <%= image_tag rent.book.image %>
            <% end %>
              <div class="card-product-infos">
                <h4><%= rent.book.title %></h4>
              </div>
      </div>
      <% end %>

  </div>
</div>
