.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: inline-flex;
  align-items: start;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.book-card {
  padding: 15px;
  margin-bottom: 20px;
  color: black;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border: 1px solid #F7F7F7;

}

.book-card:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.4);
  transition: 0.8s;

}
